doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My about page
  link(rel='stylesheet' type='text/css' href='/css/style.css')
ul
  li
    a(href='/') Home
  li
    a(href='/about') About
  li
    a(href='/contact') Contact
header.masthead
  p Hi I&apos;m
  h1 Marvin!
section.introduction
  h1 Introduction
  p I am a student at Emmily Griffith and soon to be web developer.
  p I love the internet, technology, and building beautiful things.
section.location
  h1 Where I&apos;m From
  p I&apos;m originally from Longmont, Colorado 
section.questions
  h1 More About Me
  h2 What are your favorite hobbies?
  p
    | My favorite hobby is building things on the internet, helping people get the website they desire.
  h2 What&apos;s your dream job?
  p
    | My dream job is similar to what I&apos;m studying, I would like to become a professional full stack web developer.
  h2 Where do you live?
  p
    | I live close to Downtown Denver, about 5-6 blocks away from Emmily Griffith institute
  h2 Why do you want to be a web developer?
  p
    | Because programming is awesome and programming for the internet is even more awesome.
