doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Home Page
  link(rel='stylesheet' type='text/css' href='/css/style.css')
ul
  li
    a(href='/') Home
  li
    a(href='/about') About
  li
    a(href='/contact') Contact
.body
  h1 Welcome to my website!
  h3 This is a picture of me!
  img(src='https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.0-9/122841578_1070922813366040_8752581655385606095_n.jpg?_nc_cat=110&ccb=3&_nc_sid=8bfeb9&_nc_ohc=Sez8zLQhkzYAX9vlxkQ&_nc_ht=scontent.fcyw4-1.fna&oh=f8e405cb6a71c47bd7099d8bc6e73f27&oe=606494A7' alt='picture of me')
  p Go to My about page to learn a bit more about my self!
  footer
    p Say hi to me on these social networks:
    ul.social
      li
        a.css-is-deranged(href='https://github.com/Marvoro53') GitHub
      li
        a.css-is-deranged(href='https://www.linkedin.com/in/marv%C3%ADn-lara-2837761bb/') Linkedin